{% extends 'base.html' %}

{% block title %}Luz de Luna{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Luz de Luna - Mis Aplicaciones</title>
    <link rel="stylesheet" href="{% static 'administracion/css/styles.css' %}">
</head>
<body class="menu-bg">

    <div class="menu-container">
        <!-- Header -->
        <div class="menu-header" style="display:flex; justify-content: space-between; align-items: center;">
            <h1>Mis Aplicaciones</h1>
            <div>
                <a class="boton-verde" href="{% url 'modificar_mi_usuario' %}">Mi Perfil</a>
            </div>
        </div>

        <!-- Botones de apps -->
        <div class="apps-grid">
            {% for app in apps %}
            <div class="app-card">
                <a href="{% url app.url %}">{{ app.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>
{% endblock %}