{% extends 'base.html' %}

{% block title %}Mi Información{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Modificar Usuario - {{ usuario.username }}</title>
    <link rel="stylesheet" href="{% static 'administracion/css/styles.css' %}">
</head>

<body class="login-bg">
    <div class="login-container">
        <h2>Modificar Usuario: {{ usuario.username }}</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" id="modificarForm">
            {% csrf_token %}
            <h3>Datos de Usuario</h3>
            <div>
                {{ form.username.label_tag }} {{ form.username }}
                {{ form.cedula.label_tag }} {{ form.cedula }}
                {{ form.email.label_tag }} {{ form.email }}
            </div>

            {% if tiene_empleado %}
            <h3>Datos del Empleado</h3>
            <div>
                {{ form.nombre.label_tag }} {{ form.nombre }}
                {{ form.apellido.label_tag }} {{ form.apellido }}
                {{ form.telefono.label_tag }} {{ form.telefono }}
                
                <h4>Dirección</h4>
                {{ form.direccion_exacta.label_tag }} {{ form.direccion_exacta }}
                {{ form.pais.label_tag }} {{ form.pais }}
                {{ form.provincia.label_tag }} {{ form.provincia }}
                {{ form.canton.label_tag }} {{ form.canton }}
                {{ form.distrito.label_tag }} {{ form.distrito }}
            </div>
            {% endif %}

            <div style="margin-top: 20px;">
                <button type="submit" id="guardarBtn" class="boton-verde">Guardar cambios</button>
            </div>
            <div style="margin-top: 5px;"></div>
                <a href="{% url 'apps_home' %}" class="boton-volver">Volver</a>
            </div>
        </form>
    </div>

</body>

</html>
{% endblock %}