{% extends 'base.html' %}

{% block title %}Personal{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'personal/css/styles1.css' %}">
    <title>Gestión de Personal</title>
</head>

<body class="menu-bg">

    <main class="login-container">

        <h1 style="color: #1A3A2E;">Marcar Asistencia</h1>
        {% if mensaje %}
        <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
            {{ mensaje }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="button-group">
                <button class="boton-verde" type="submit" name="action" value="llegada">
                    Registrar Hora de Llegada
                </button>
                <p><strong>Hora de Marca de Ingreso: "{{ hora_marca_ingreso }}"</strong></p>
                <button class="boton-verde" type="submit" name="action" value="salida">
                    Registrar Hora de Salida
                </button>
                <p><strong>Hora de Marca de Salida: "{{ hora_marca_salida }}"</strong></p>
            </div>
        </form>

            {% if request.user.rol.nombre == "Administrador" %}
            <h1 style="color: #1A3A2E;">Administrar Empleados y Roles</h1>
            <div class="button-group">
            <button class="boton-verde" onclick="window.location.href='empleados'">Empleados</button>
            <button class="boton-verde" onclick="window.location.href='roles'">Roles</button>
            <button class="boton-verde" onclick="window.location.href='empleados/tiempos/'">Tiempos</button>
            </div>
            {% elif request.user.rol.nombre == "Empleado_Nivel1" %}
            <h1>Administrar Empleados y Roles</h1>
            <div class="button-group">
            <button class="boton-verde" onclick="window.location.href='empleados/tiempos/'">Tiempos</button>
            </div>
            {% elif request.user.rol.nombre == "Empleado_Nivel2" %}
            {% elif request.user.rol.nombre == "cliente" %}
            {% endif %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}