{% extends 'base.html' %}

{% block title %}Limpieza{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'personal/css/styles1.css' %}">
    <title>Gestión de Limpieza</title>
</head>

<body class="menu-bg">

    <main class="login-container">

        <h1>Zonas y Tareas Disponibles</h1>

        <div class="button-group my-4">
            <button class="boton-verde" onclick="window.location.href='{% url 'lista_zonas_empleado' %}'">
                Ver Zonas Disponibles
            </button>
        </div>

        {% if request.user.rol.nombre == "Administrador" %}
        <h1>Administrar Zonas y Tareas</h1>
        <div class="button-group">
            <button class="boton-verde" onclick="window.location.href='/limpieza/zonas/'">Zonas y Tareas</button>
        </div>
        {% elif request.user.rol.nombre == "Empleado_Nivel1" %}
        <h1>Administrar Zonas y Tareas</h1>
        <div class="button-group">
            <button class="boton-verde" onclick="window.location.href='/limpieza/zonas/'">Zonas y Tareas</button>
        </div>
        {% elif request.user.rol.nombre == "Empleado_Nivel2" %}
        {% elif request.user.rol.nombre == "cliente" %}
        {% endif %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}