{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hotel Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>Hotel Admin</h2>

        <a href="{% url 'apps_home' %}">Inicio</a>

        {% if request.user.rol.nombre == "Administrador" %}
            <a href="{% url 'dashboard_admin' %}">Administración</a>
            <a href="{% url 'marcar_asistencia' %}">Personal</a>
            <a href="{% url 'dashboard_marketing' %}">Marketing</a>
            <a href="{% url 'lista_inventario' %}">Inventario</a>
            <a href="{% url 'index_limpieza' %}">Limpieza</a>
            <a href="{% url 'contabilidad_panel' %}">Contabilidad</a>
            <a href="{% url 'index_reservas' %}">Reservas</a>
            <a href="{% url 'reporteria:submenu_reporteria' %}">Reportería</a>

        {% elif request.user.rol.nombre == "Empleado_Nivel1" %}
            <a href="{% url 'marcar_asistencia' %}">Personal</a>
            <a href="{% url 'dashboard_marketing' %}">Marketing</a>
            <a href="{% url 'lista_inventario' %}">Inventario</a>
            <a href="{% url 'index_limpieza' %}">Limpieza</a>
            <a href="{% url 'contabilidad_panel' %}">Contabilidad</a>
            <a href="{% url 'index_reservas' %}">Reservas</a>
            <a href="{% url 'reporteria:submenu_reporteria' %}">Reportería</a>

        {% elif request.user.rol.nombre == "Empleado_Nivel2" %}
            <a href="{% url 'marcar_asistencia' %}">Personal</a>
            <a href="{% url 'lista_inventario' %}">Inventario</a>
            <a href="{% url 'index_limpieza' %}">Limpieza</a>
            <a href="{% url 'index_reservas' %}">Reservas</a>

        {% elif request.user.rol.nombre == "cliente" %}
        {% endif %}

        <a href="{% url 'index' %}">Sitio web</a>

        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
